/* base classes */

.container{
    max-width: 1920px;
    width: 100%;
}

/* base classes */

/* info section */

.info-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-header{
    display: flex;
    justify-content: space-between;
}
.left-info{
    margin: 50px 0 0 50px;
}
.left-info h3{
    font-size: 40px;
    font-family: 'Poppins-ExtraBold';
    color: #1A1A1A;
}
.left-info span{
    color:#0081FF;
}
.left-info h4{
    font-size: 13px;
    font-family: 'Montserrat-Regular';
    color: #B3B3B3;
}

.right-info{
    position: relative;
    width: 227px;
    margin: 25px 80px 0 0;
}
.right-info h1{
    font-size: 158px;
    font-family: 'Poppins-ExtraBold';
    opacity: 0.2;
}
.right-info h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 43px;
    font-family: 'Poppins-ExtraBold';
    width: 100%;
    color: #373737;
}

.information-box{
    padding-top: 180px;
    padding-bottom: 180px;
    padding-right: 300px;
    float: right;
}
.clear{
    clear: right;
}
.information-box h3{
    font-family: 'Glacial Indifference-Regular';
    font-size: 50px;
    color: #212121;
    padding-bottom: 25px;
}
.information-box h2{
    font-family: 'Glacial Indifference-Bold';
    font-size: 71px;
    padding-bottom: 20px;
}
.information-box h6{
    font-family: 'Glacial Indifference-Regular';
    font-size: 23px;
    padding-bottom: 50px;
}
.social-icons a{
    margin-left: 15px;
}
.text-adv{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.text-adv span{
    color: #E93656;
}
.text-adv h6{
    display: inline-block;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #212121;
    padding-right: 80px;
    border-bottom: 6px solid #E93656;
    padding-bottom: 20px;
    margin-bottom: 45px;
}

/* info section */

/* more-info-section */
.more-info-section{
    margin-top: 135px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.my-information-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme-info-article{
    max-width: 334px;
    width: 100%;
    text-align: right;
}
.aboutme-info-article h3{
    font-size: 40px;
    font-family: 'Glacial Indifference-Bold';
    color: #222222;
    margin-bottom: 5px;
}
.aboutme-info-article h4{
    font-size: 14px;
    font-family: 'Muli';
    color: #DAAE19;
    margin-bottom: 35px;
}
.aboutme-info-article h6{
    font-size: 15px;
    font-family: 'Muli';
    color: #555555;
    margin-bottom: 60px;
}
.aboutme-info-article .hire-btn{
    font-size: 15px;
    font-family: 'Glacial Indifference-Bold';
    color: #FFFFFF;
    background-color: #E93656;
    padding: 15px 45px;
    border: none;
}
.profile-image{
    margin-right: 70px;
    margin-left: 70px;
}
.profile-image img{
    max-width: 430px;
    width: 100%;
}
.my-socials{
    display: flex;
    align-items: center;
    margin-top: 75px;
}
.my-socials a{
    padding: 20px;
    background-color: #F9F9F9;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    display: flex;
    justify-content: center;
    background-color: #131A36;
    padding: 50px 0;
    margin-top: 100px;
}
.phoneNumber-div,
.address-div{
    margin-right: 40px;
}
.phoneNumber-div,
.address-div,
.email-div{
    display: flex;
    align-items: center;
}
.phoneNumber-div img,
.address-div img,
.email-div img{
    margin-right: 15px;
}
.phone-info h4,
.address-info h4,
.email-info h4{
    margin-bottom: 15px;
}
.phone-info p,
.address-info p,
.email-info p{
    margin-bottom: 5px;
}
.phoneNumber-div h4,
.address-div h4,
.email-div h4{
    font-family: 'Glacial Indifference-Bold';
    font-size: 25px;
    color: #FFFFFF;
}
.phoneNumber-div p,
.address-div p,
.email-div p{
    font-size: 14px;
    font-family: 'Muli';
    color: #DFDFDF;
}
/* more-info-section */

/* services section */

.service-box:not(no-margin-right){
    margin-right: 10px;
}
.servises{
    margin: 200px 0 160px 0;
}
.service-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1180px;
    margin: 0 auto;
}
.service-box{
    width: 285px;
    height: 360px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.service-box h6{
    color: #222222;
    font-size: 22px;
    font-family: 'Glacial Indifference-Bold';
}
.modal-text{
    display: none;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.modal-text h4{
    font-size: 22px;
    font-family: 'Glacial Indifference-Bold';
    margin-bottom: 20px;
    text-align: center;
}
.modal-text p{
    font-family: 'Muli';
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
}

/* responsive */

@media only screen and (max-width: 960px){
    .left-info {
        margin: 25px 0 0 25px;
    }
    .left-info h3 {
        font-size: 20px;
    }
    .left-info h4 {
        font-size: 10px;
    }
    .right-info {
        margin: 20px 40px 0 0;
        width: 150px;
    }
    .right-info h1 {
        font-size: 80px;
    }
    .right-info h2 {
        font-size: 25px;
    }
    .information-box {
        padding-right: 0;
    }
    .information-box h2{
        font-size: 25px;
    }
    .information-box h3{
        font-size: 35px;
    }
    .information-box h4{
        font-size: 15px;
    }
    .my-information-div{
        flex-direction: column;
        align-items: center;
    }
    .contact-box{
        flex-direction: column;
        align-items: center;
    }
    .phoneNumber-div,
    .address-div{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 480px){
    .info-header{
        align-items: center;
    }
    .left-info,
    .right-info {
        margin: 0;
    }
    .right-info h1,
    .right-info h2 {
        text-align: middle;
    }
    .text-adv {
        padding-right: 20px;
    }
    .text-adv h6{
        font-size: 12px;
        padding-right: 0;
    }
    .information-box {
        padding-right: 0;
    }
}

/* responsive */
