/* base classes */

.container{
    max-width: 1920px;
    width: 100%;
}
.float-right{
    float: right;
}
.clear{
    clear: right;
}

/* base classes */

/* info section */

.info-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-header{
    display: flex;
    justify-content: space-between;
}
.left-info{
    margin: 50px 0 0 50px;
}
.left-info h3 a{
    font-size: 40px;
    font-family: 'Poppins-ExtraBold';
    color: #1A1A1A;
}
.left-info span{
    color:#0081FF;
}
.left-info h4{
    font-size: 13px;
    font-family: 'Montserrat-Regular';
    color: #B3B3B3;
}

.right-info{
    position: relative;
    width: 227px;
    margin: 25px 80px 0 0;
}
.right-info h1{
    font-size: 158px;
    font-family: 'Poppins-ExtraBold';
    opacity: 0.2;
}
.right-info h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 43px;
    font-family: 'Poppins-ExtraBold';
    width: 100%;
    color: #373737;
}

.information-box{
    padding-top: 180px;
    padding-bottom: 180px;
    padding-right: 300px;
    float: right;
}
.clear{
    clear: right;
}
.information-box h3{
    font-family: 'Glacial Indifference-Regular';
    font-size: 50px;
    color: #212121;
    padding-bottom: 25px;
}
.information-box h2{
    font-family: 'Glacial Indifference-Bold';
    font-size: 71px;
    padding-bottom: 20px;
}
.information-box h6{
    font-family: 'Glacial Indifference-Regular';
    font-size: 23px;
    padding-bottom: 50px;
}
.social-icons a{
    margin-left: 15px;
}
.text-adv{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.text-adv span{
    color: #E93656;
}
.text-adv h6{
    display: inline-block;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: #212121;
    padding-right: 80px;
    border-bottom: 6px solid #E93656;
    padding-bottom: 20px;
    margin-bottom: 45px;
}

/* info section */

/* more-info-section */
.more-info-section{
    margin-top: 135px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.my-information-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme-info-article{
    max-width: 334px;
    width: 100%;
    text-align: right;
}
.aboutme-info-article h3{
    font-size: 40px;
    font-family: 'Glacial Indifference-Bold';
    color: #222222;
    margin-bottom: 5px;
}
.aboutme-info-article h4{
    font-size: 14px;
    font-family: 'Muli';
    color: #DAAE19;
    margin-bottom: 35px;
}
.aboutme-info-article h6{
    font-size: 15px;
    font-family: 'Muli';
    color: #555555;
    margin-bottom: 60px;
}
.aboutme-info-article .hire-btn{
    font-size: 15px;
    font-family: 'Glacial Indifference-Bold';
    color: #FFFFFF;
    background-color: #E93656;
    padding: 15px 45px;
    border: none;
}
.profile-image{
    margin-right: 70px;
    margin-left: 70px;
}
.profile-image img{
    max-width: 430px;
    width: 100%;
}
.my-socials{
    display: flex;
    align-items: center;
    margin-top: 75px;
}
.my-socials a:hover{
    background-color: #15263E;
}
.my-socials a{
    padding: 20px;
    background-color: #F9F9F9;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    display: flex;
    justify-content: center;
    background-color: #131A36;
    padding: 50px 0;
    margin-top: 100px;
}
.phoneNumber-div,
.address-div{
    margin-right: 40px;
}
.phoneNumber-div,
.address-div,
.email-div{
    display: flex;
    align-items: center;
}
.phoneNumber-div img,
.address-div img,
.email-div img{
    margin-right: 15px;
}
.phone-info h4,
.address-info h4,
.email-info h4{
    margin-bottom: 15px;
}
.phone-info p,
.address-info p,
.email-info p{
    margin-bottom: 5px;
}
.phoneNumber-div h4,
.address-div h4,
.email-div h4{
    font-family: 'Glacial Indifference-Bold';
    font-size: 25px;
    color: #FFFFFF;
}
.phoneNumber-div p,
.address-div p,
.email-div p{
    font-size: 14px;
    font-family: 'Muli';
    color: #DFDFDF;
}
/* more-info-section */

/* services section */

.service-box:not(no-margin-right){
    margin-right: 10px;
}
.servises{
    margin: 200px 0 160px 0;
}
.service-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1180px;
    margin: 0 auto;
}
.service-box{
    width: 285px;
    height: 360px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.service-box h6{
    color: #222222;
    font-size: 22px;
    font-family: 'Glacial Indifference-Bold';
}
.modal-text{
    display: none;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.modal-text h4{
    font-size: 22px;
    font-family: 'Glacial Indifference-Bold';
    margin-bottom: 20px;
    text-align: center;
}
.modal-text p{
    font-family: 'Muli';
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
}

/* services section */

/* recommendation section */

.recommendation-section{
    background-image: url(../images/background.png);
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommendations-article{
    display: flex;
    align-items: center;
}
.recommendations-image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px dotted white;
    padding: 10px;
    margin-right: 50px;
}
.recommendations-text{
    color: #FFFFFF;
    font-family: 'Roboto-Light';
    font-size: 15px;
    max-width: 498px;
    width: 100%;
    margin-right: 50px;
    text-align: right;
    line-height: 2;
}
.recommendations-author{
    margin-right: 150px;
}
.recommendations-sign-image{
    margin-bottom: 30px;
}
.recommendations-profession{
    font-size: 13px;
    color: #E93656;
    font-family: 'Roboto-Regular';
    margin-bottom: 15px;
}
.recommendations-name{
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Glacial Indifference-Bold';
}
.bullet-box{
    display: flex;
    flex-direction: column;
}
.bullet{
    margin-bottom: 15px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
}
.bullet.active{
    border-color: #E93656;
}

/* recommendation section */

/* latest-projects-section */
.latest-projects-box{
    margin-top: 150px;
    margin-bottom: 170px;
}
.latest-projects-box h1{
    font-family: 'Glacial Indifference-Bold';
    font-size: 70px;
    color: #2E2E2E;
    margin-bottom: 70px;
    text-align: center;
}
.projects-box{
    display: flex;
    justify-content: center;
}
.projects-categories-lists{
    padding: 50px 70px 45px 60px;
    background-color: #15263E;
    height: 400px;
    margin-right: 25px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}
.projects-ul{
    font-family: 'Glacial Indifference-Bold';
    color: #FFFFFF;
    font-size: 20px;
}
.projects-li{
    margin-bottom: 30px;
}
.projects-box .project{
    width: 300px;
    height: 300px;
    background-color: gray;
}
/* latest-projects-section */

/* latest-articles-section */
.latest-articles-section{
    display: flex;
    flex-direction: column;
}
.latest-articles-section .title{
    margin-bottom: 70px;
    text-align: center;
}
.latest-articles-section .title h6{
    font-family: 'Glacial Indifference-Bold';
    font-size: 13px;
    color: #2ED279;
    margin-bottom: 15px;
}
.latest-articles-section .title h1{
    font-family: 'Glacial Indifference-Bold';
    font-size: 70px;
    color: #2E2E2E;
}
.articles-box .article{
    width: 90vw;
    display: flex;
}
.articles-box .article .article-info{
    display: inline-block;
    padding: 75px 0 135px 10px;
    background-color: #FAFAFA;
    width: 40vw;
}
.articles-box .article .article-info img{
    margin-bottom: 35px;
}
.articles-box .article .article-info h6{
    color: #888888;
    font-size: 14px;
    font-family: 'Muli';
    margin-bottom: 20px;
}
.articles-box .article .article-info h1{
    color: #161616;
    font-size: 40px;
    font-family: 'Glacial Indifference-Bold';
    margin-bottom: 35px;
}
.articles-box .article .article-info p{
    color: #494949;
    font-size: 16px;
    font-family: 'Muli';
    margin-bottom: 15px;
}
.articles-box .article .article-info button{
    border: none;
    background-color: transparent;
    color: #494949;
    font-size: 16px;
    font-family: 'Muli';
    padding: 0;
}
.articles-box .article .article-date{
    color: #E93656;
    background-color: #15263E;
    font-family: 'Glacial Indifference-Bold';
    display: flex;
    align-items: center;
    width: 9vw;
    justify-content: center;
}
.articles-box .article .article-date h4{
    transform: rotate(-90deg);
}
.articles-box .article .article-img{
    width: 40vw;
}
/* latest-articles-section */

/* partners-section */
.partners-div{
    margin-top: 170px;
    margin-bottom: 155px;
}
.partners-section .partners-div .title{
    margin-bottom: 70px;
    text-align: center;
}
.partners-section .partners-div .title h6{
    font-family: 'Glacial Indifference-Bold';
    font-size: 13px;
    color: #2ED279;
    margin-bottom: 15px;
}
.partners-section .partners-div .title h1{
    font-family: 'Glacial Indifference-Bold';
    font-size: 70px;
    color: #2E2E2E;
}
.partners-logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.partners-logo-box img{
    max-width: 230px;
}
.partners-logo-box .logos-modal-text{
    max-width: 230px;
    text-align: center;
    padding: 40px;
    line-height: 1.5;
    border: 4px solid #E93656;
    border-radius: 5px;
    display: none;
}
.partners-logo-box .logos-modal-text h1{
    color: #161616;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    margin-bottom: 15px;
}
.partners-logo-box .logos-modal-text p{
    color: #626262;
    font-family: 'Roboto-Light';
    font-size: 13px;
}
/* partners-section */


/* responsive */

@media only screen and (max-width: 960px){
    .left-info {
        margin: 25px 0 0 25px;
    }
    .left-info h3 {
        font-size: 20px;
    }
    .left-info h4 {
        font-size: 10px;
    }
    .right-info {
        margin: 20px 40px 0 0;
        width: 150px;
    }
    .right-info h1 {
        font-size: 80px;
    }
    .right-info h2 {
        font-size: 25px;
    }
    .information-box {
        padding-right: 0;
    }
    .information-box h2{
        font-size: 25px;
    }
    .information-box h3{
        font-size: 35px;
    }
    .information-box h4{
        font-size: 15px;
    }
    .my-information-div{
        flex-direction: column;
        align-items: center;
    }
    .contact-box{
        flex-direction: column;
        align-items: center;
    }
    .phoneNumber-div,
    .address-div{
        margin-bottom: 10px;
    }

    /* recommendation section */
    .recommendations-article{
        flex-direction: column;
    }
    .recommendations-text{
        text-align: center;
        margin-right: 0;
    }
    .recommendations-image{
        margin-right: 0;
    }
    .recommendations-author{
        margin-right: 0;
        text-align: center;
    }
    .bullet-box{
        flex-direction: row;
        margin-top: 15px;
    }
    .bullet{
        margin-right: 15px;
    }
    /* recommendation section */

    /* latest-projects-section */
    .projects-box{
        flex-direction: column;
        text-align: center;
    }
    .projects-categories-lists{
        margin-right: 0;
    }
    .projects-box .projects{
        justify-content: center;
        margin-top: 10px;
    }
    /* latest-projects-section */

    /* latest article */
    .articles-box .article{
        justify-content: center;
    }
    .articles-box .article .article-img{
        display: none;
    }
    /* latest article */

    .partners-logo-div{
        flex-direction: column;
    }
    .partners-logo-box{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 480px){
    .info-header{
        align-items: center;
    }
    .left-info,
    .right-info {
        margin: 0;
    }
    .right-info h1,
    .right-info h2 {
        text-align: middle;
    }
    .text-adv {
        padding-right: 20px;
    }
    .text-adv h6{
        font-size: 12px;
        padding-right: 0;
    }
    .information-box {
        padding-right: 0;
    }

    .articles-box .article .article-date{
        display: none;
    }
    .articles-box .article .article-info {
        width: 100vw;
    }
}

/* responsive */
